# Quarto outputs and cache
*.html
*_cache/
*_files/
/.quarto/
_site/

# R specific
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.RDataTmp

# LaTeX build artifacts
report/build/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc

**/*.quarto_ipynb
